@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
    margin:0px;
    background-image:url("background.png");
    background-attachment: fixed; 
    background-size: cover;
}
body header{
    color:white;
    height: 70px;
    position:fixed;
    background-color:rgb(50, 212, 21);
    width: 100%;
    
}

header h1{
    display:inline-flex;
    float:inline-start;
    margin: 0px;
    padding-left: 10px;
    margin-right: 20px;

}

#loc{
    margin-right:20px;
    border-color: transparent;
    border-radius: 7px;
    font-size: 15px;
    
}
#search,#login,#cart{
    margin-right: 60px;
    
    border-color: transparent;
    border-radius: 7px;
    font-size: 15px;
}
#user{
    
    border-color: transparent;
    border-radius: 7px;
    
}
.lg-input{
    width:600px;
    border-radius: 7px;
    border-color:transparent;
    font-size: 15px;
}
.lg-input:focus {
    outline-color: coral;
}
#loc:hover, #search:hover ,#login:hover, #cart:hover , #user:hover{
    border-color: coral;
}
main section:hover{
    box-shadow: 10px 10px 20px black;
}

header span{
    display: inline-flex;
}
main{
    display: inline-block;
    margin:auto;
}
header h5{
    margin:0px;
    margin-left: 30px;
    font-family: 'Alkalami';
    font-weight: 400;
    
}
main h4{
    margin-top:0px;
    font-family: 'Oswald';
    font-weight: 700;
    margin-left: 130px;
}

main section{
    max-width:33%;
    display:inline-block;
    padding: 30px;
    margin: 30px;
    margin-top:20px;
    padding-top:20px;
    background-color:rgba(237, 243, 238, 0.5) ;
    transition: all 500ms;
}
main section:active{
    opacity:.4;
}
.callimg{
    width: 1450px;
    height: 500px;
    padding:20px;
    background-size: cover !important;
    background-position: center !important;
    margin-top: 100px;
}
.section-image{
    width: 350px;
    height: 230px;
    background-size: cover !important;
    background-position: center !important;
}
.section-off{
    color: rgb(255, 0, 0);
    font-size: larger;
    margin-left: 110px;
}
.section-seemore{
    margin-left: 130px;
}
.section-seemore:hover{
    color:rgb(7, 245, 47);
}
header section{
    margin-left:25px;
    margin-top:11px;
}
main h1{
    text-align: center;
    font-family: 'Alkalami';
    font-weight:500;
    color: rgb(50, 212, 21);
    margin-bottom: 0px;
}



